.container {
  background-image: linear-gradient(#081221, #03080f);
  min-height: 100vh;
  min-height: 100vw;
  display: flex;
  padding: 20px;
}

.search {
  width: 25%;
}
.cards {
  width: 65%;
}
@media (max-width: 600px) {
  .container {
    display: block;
    width: 100%;
  }
  .search {
    width: 80%;
  }
  .cards {
    width: 90%;
  }
}
