.container {
  width: 100%;
  padding: 20px;
  background-color: #0e1a2b;
  height: 150px;
  display: flex;
  margin-bottom: 20px;
}
.image {
  width: 150px;
  height: 100%;
  background-color: white;
  margin-right: 20px;
}
.gameName {
  color: #ffffff;
}
.textBox {
  color: #c1d1e8;
}
.rating {
  color: #c1d1e8;
  text-align: center;
}
.ratingBox {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #5692e8;
  margin-left: auto;
}
